@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa');

* {
	 font-family: 'Comfortaa', 'sans-serif'
}

.contact {
	text-align: center;
}

.contact td {
	padding: 2px;
	margin: 2px;
}

.contact td a:hover {
	color: orangered;
}

.fileformat-types td {
	padding: 2px;
	margin: 2px;
}

.feature-table 
td:nth-child(1) {
	width: 2%;
	text-align: center;
}

.feature-table 
td:nth-child(2) {
	width: 30%;
}

.feature-table 
td:nth-child(3) {
	width: 60%;
}


.feature-table
td {
	vertical-align: top;
}
.feature-table
h3 {
	padding: 0px;
	margin: 0px;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: orangered;
}

a:active {
	color: orangered;
}
