name: Code Quality and Coverage

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]

jobs:
  codacy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install dependencies
        run: |
          Rscript -e 'install.packages("devtools")'
          Rscript -e 'install.packages("covr")'


      - name: Run tests and generate coverage
        run: |
          Rscript -e 'devtools::install()'
          Rscript -e 'covr::package_coverage(type = "tests")' > coverage.txt

      - name: Upload coverage to Codacy
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
        run: |
          curl -X POST \
            -F "json_file=@coverage.txt" \
            -H "Authorization: Token $CODACY_PROJECT_TOKEN" \
            "https://api.codacy.com/2.0/coverage"
